<h1 class="mt-5 text-center sr">Samples</h1>
<br>
<div class="col-12 text-center mt-5">

    <!-- Cards -->
    <div class="card-deck pb-5" >
      <div class="card" *ngFor="let nft of samples" appDeferLoading (deferLoad)="nft.show = true" [horizontal]="true">
        <img *ngIf="nft?.show && !loadingSamples" class="card-img-top" [src]="nft?.cached_file_url" alt="Card image cap">
        <div *ngIf="!nft.show || loadingSamples" class="card-img-top skeleton" alt="image holder"></div>
        <div class="card-body">
          <h5 class="card-title">{{nft.name || ''}}</h5>
          <p class="card-text">{{nft.description || ''}}</p>
          <div *ngIf="!loadingSamples" class="d-flex flex-row-reverse align-items-center">
            <a class="btn btn-outline-danger">Get NFT</a>

            <span class="fs-6 m-2">0.5 ETH <img style="margin-bottom: 3px;" src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Ethereum-icon-purple.svg" width="15px" height="15px"></span>
          </div>
        </div>
      </div>
      </div>
      <div class="row py-5 mt-5 mb-0">
        <app-end-section [svgcolor]="svgcolor"></app-end-section>
    </div>
</div>
