<h1 class="mt-5 text-center sr">Samples</h1>
<br>
<div class="col-12 text-center mt-5">

    <!-- Cards -->
    <div class="card-deck pb-3">
      <div class="card" *ngFor="let sample of samples" appDeferLoading (deferLoad)="sample.show = true" [horizontal]="true">
        <img *ngIf="sample.show" class="card-img-top" [src]="sample.img" alt="Card image cap">
        <div *ngIf="!sample.show" class="card-img-top skeleton" alt="image holder"></div>
        <div class="card-body">
          <h5 class="card-title">{{sample.title}}</h5>
          <p class="card-text">{{sample.desc}}</p>
        </div>
      </div>
      </div>

    <!-- Featured -->
    <!-- <div class="card text-center mt-5">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div> -->
</div>