

  // MOVE TO COMPONENTE IN FUTURE
  .rhombs-parallax{
    opacity: 0.1;
  div{
      background: url("../../assets/rombos/rombo_filled.svg") 0 0 no-repeat;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: -1;
  }
  .layer-1{
      // background: url("../../assets/rombos/rombo_filled.svg") -180% 0 no-repeat;
      background-position: -200% 50%;
      opacity: 0.4;
      background-size: 100%;
      filter: blur(5px);
      top: 30%;
  }
  .layer-2{
      // background: url("../../assets/rombos/rombo_filled.svg") -10% 0 no-repeat;
      background-position: 20% 0;
      opacity: 0.4;
      top: -20%;
      background-size: 10%;
      filter: blur(5px);
  }
  .layer-3{
      // background: url("../../assets/rombos/rombo_filled.svg") 80% 0 no-repeat;
      background-position: 80% 0;
      opacity: 0.3;
      background-size: 15%;
      filter: blur(7px);
  }
  .l3a{
      background-position: 30% 30%;
      filter: blur(8px);
      background-size: 20%;
      opacity: 0.3;
      top: 70%;
  }
  .l3b{
      background-position: 60% 30%;
      top: 20%;
      filter: blur(7px);
      background-size: 10%;
      opacity: 0.3;
  }
  // .l3c{
  //     left: 73%;
  //     top: -26%;
  //     filter: blur(7px);
  //     background-size: 8%;
  //     opacity: 0.4;
  // }
}
.pad-all div{
    margin-bottom: 5em;
}