<!-- <h1 class="mt-5 pt-5 text-center sr"> Friends </h1> -->
<div class="row pt-5 py-md-5 my-2 my-md-4 text-center">
  <div class="col-12 d-flex d-md-flex mb-0 justify-content-center" [class.flex-column]="isSmallscreen">
    <div class="col-12 col-md-3 py-4 py-md-2">
      <img width="100px" height="auto" src="../../../assets/icons/cuartoexpreso.png" style="opacity: 0.6;  filter:grayscale(1) brightness(1)">
    </div>
    <div class="col-12 col-md-3 py-4 py-md-2">
      <img width="100px" height="auto" src="../../../assets/icons/juce.png" style="opacity: 0.6; filter:grayscale(1)">
    </div>
    <div class="col-12 col-md-3 py-4 py-md-2">
      <img width="100px" height="auto" src="../../../assets/icons/opensea.png" style="opacity: 0.4; filter:grayscale(1)">
    </div>
  </div>
</div>
<!-- <h1 class="mt-5 pt-5 text-center sr"> Tech </h1> -->
<div class="row pb-5 py-md-5 my-2 my-md-4 text-center">
  <div class="col-12 d-flex d-md-flex mb-0 justify-content-around" [class.flex-column]="isSmallscreen">
    <div class="col-12 col-md-3 py-4 py-md-2">
      <img width="100px" height="auto" src="../../../assets/icons/visualstudio.png">
    </div>
    <div class="col-12 col-md-3 py-4 py-md-2">
      <img width="100px" height="auto" src="../../../assets/icons/angular.png" style="opacity: 0.25;">
    </div>
    <div class="col-12 col-md-3 py-4 py-md-2">
      <img width="100px" height="auto" src="../../../assets/icons/cplusplus.png" style="opacity: 0.4;">
    </div>
    <div class="col-12 col-md-3 py-4 py-md-2">
      <img width="100px" height="auto" src="../../../assets/icons/firebase.webp" style="opacity: 0.25;">
    </div>
  </div>
  <!-- <div class="col-6 m-auto d-block d-md-flex">
    <div class="col-12 col-md-6 pb-4">
      <img width="120px" height="auto" src="../../../assets/icons/eth.png" style="opacity: 0.4;">
    </div>
    <div class="col-12 col-md-6 pb-4">
      <img width="100px" height="auto" src="../../../assets/icons/nftport.png" style="opacity: 0.25;">
    </div>
  </div> -->
</div>
<div>
  <div class="rhombs-parallax">
    <!-- <div class="layer-1" [class.sr]="!isSmallscreen"></div> -->
    <div class="layer-2" [class.sr]="!isSmallscreen"></div>
    <!-- <div class="layer-3" [class.sr]="!isSmallscreen"></div> -->
    <div class="layer-3 l3a" [class.sr]="!isSmallscreen"></div>
    <div class="layer-3 l3b" [class.sr]="!isSmallscreen"></div>
    <!-- <div class="layer-3 l3c" [class.sr]="!isSmallscreen"></div> -->
    <!-- En mobile se trancan los fadein 'sr' -->
  </div>
</div>
