<div class="nft-parallax" [class.desktop-margin]="!isSmallscreen">
	<div class="parallax-layer px-b">
		<div class="svg-elm">
			<div>
				<img src="https://svgsilh.com/svg/575415-bababa.svg">
			</div>
		</div>
	</div>
	<div class="parallax-layer px-m">
		<div class="svg-elm">
			<div style="transform: scaleX(-1.1)">
				<img src="https://svgsilh.com/svg/575619-515151.svg">
			</div>
		</div>
	</div>
	<div class="parallax-layer px-f">
		<div class="svg-elm">
			<img src="https://svgsilh.com/svg/584280-2c2c2c.svg">
		</div>
	</div>
</div>
<div class="main-container dark">
	<div class="col-12 mx-0">
		<div class="text-center nft-title app-title row">
			<h1 id="dreams" class="sr"> Kbr·Nft </h1>
			<p id="slogan"> </p>
		</div>
		<div class="pt-5 px-0 px-lg-5 sr">
			<p class="pt-4 text-center">
				Non-Fungible Token (token no fungible) es un certificado digital de autenticidad que mediante la tecnología blockchain, se asocia a un único archivo digital. <br> A partir de ahí, se ha construido una nueva forma de expresión digital.
			</p>
		</div>
		<div class="col-12">
			<app-rombh-reveal [isSmallscreen]="isSmallscreen"></app-rombh-reveal>
		</div>
		<div class="col-12 text-center px-0 px-lg-5 pt-5 pb-4">
			<p class="text-muted">
				+ NFT serán listados próximamente
			</p>
		</div>
	</div>
</div>