.apply-cursor:hover .cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
  display: inline-block !important;
  visibility:visible;
  
}

.body{
  // background: linear-gradient(180deg, #fff, #fff, #fff, #fff, #474747);
}

.cursor{
  transition: 0s;
  visibility: hidden;
}

.hover-this:hover~.cursor {
  transform: translate(-50%, -50%) scale(10);
}

.hover-this {
  transition: all 0.3s ease;
}
#main-hidden-rhomb{
  margin-left: -10px;
  margin-top: 6vw;
  // position: absolute;
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}
#main-hidden-rhomb div{
  animation: show-up ease 2s 1s forwards;
  opacity: 0;
  padding: 0.6vw;
  height: 1vw;
  width: 1vw;
  background-color: #474747;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
#main-hidden-rhomb:hover div{
  border-radius: 0px;
  transform: rotate(55deg) skewX(25deg);
  width: 15px;
  background-color: black;
  box-shadow: 0px 0px 15px black;
}


@media (max-width: 600px) {
  .center-mobile {
    z-index: 1;
    position: absolute;
    width: 100vw;
  }

  .app-title {
    z-index: 2;
  }
}

.a{
    width: auto;
    display: inline-flex;
    span{
      opacity: 0;
      font-size: inherit;
    }
    &_1{
      animation: fade-in ease 1s forwards; 
    }
    &_2{
      animation: fade-in ease 1s 0.2s forwards; 
    }
    &_3{
      animation: fade-in ease 1s 0.4s forwards; 
    }
    &_4{
      animation: fade-in ease 1s 0.6s forwards; 
    }
    &_5{
      animation: fade-in ease 1s 0.8s forwards; 
    }
}


#drip-an{
  background-color: #474747;
  min-width: 100%;
  min-height: calc(100vh);
  position: absolute;
  z-index: 1;
  border-radius: 12px;
  animation: cortina .5s 0s ease-in forwards;
}

@keyframes cortina {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100vh);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translateY(-20px) rotateZ(-1deg);
  }
  50%{
    opacity: 1;
    transform: translateY(0px) rotateZ(0deg);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) rotateZ(0deg);
  }
}
@keyframes show-up {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}