.audio-player{
    min-height: 200px;
}
audio::-webkit-media-controls-panel, audio{
    background-color: white;
}
::ng-deep .nav-link{
    color: black;
}
::ng-deep .nav-link:hover{
    color: #96102284;
}
::ng-deep .nav-link.active{
    color: #961022 !important;
}