<div class="col-12 container-fluid pb-4 px-3 px-lg-5 audio-player d-flex flex-column align-self-center pt-3">

<h4>Audio Demo</h4>

<!-- <p>Raw</p> -->
<div class="col-12 col-lg-6 m-auto bg-white" style="border-radius: 10px;">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let drywet of dryWet">
          <a  class="nav-link cursor custom-link" [class.active]="drywet.active" (click)="switch(drywet)">{{drywet.label}}</a>
        </li>
      </ul>
      <!-- <p>This sample is raw sound, before kbr was applied</p> -->
    <audio *ngIf="selectedDW == 'dry'" class="w-100" [src]="samplesLoaded.dry" crossorigin="anonymous" controls #audio (play)="play()" (pause)="pause()"></audio>
    <audio *ngIf="selectedDW == 'wet'" class="w-100" [src]="samplesLoaded.wet" crossorigin="anonymous" controls #audio (play)="play()" (pause)="pause()"></audio>
    <!-- <div class="skeleton"></div> -->
</div>
<!-- <p>Kbr</p> -->
<!-- <div class="col-6 m-auto">
    <audio class="w-100" [src]="audioSrc" crossorigin="anonymous" controls #audio (play)="play()" (pause)="pause()"></audio>
</div> -->
</div>
