/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
html{
    background: #ccccccbb;
}
body{
    min-height: 100vh;
}
body * {
    font-family: 'Montserrat', sans-serif;
    color: rgb(71, 71, 71);
    transition: 0.3s;
    font-size: 18px;
}
.body{
    // background: linear-gradient(180deg, #a9a9a9bb, #ffffff);
    background: #ccccccbb;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite alternate !important;
    min-height: 3000px;
    overflow-y: hidden;
}
p{
    font-weight: 300;
}
#scroll {
    position: fixed;
    top: 0;
    height: 5px;
    background-image: linear-gradient(120deg, transparent, #961022);
    width: 0;
    transition: width 0.1s ease;
    z-index: 100;
  }
.bg-change{
    background: linear-gradient(180deg, transparent, #2c2c2c);
    height: 3000px;
    position: absolute;
    margin-top: -80em;
    width: 100%;
    z-index: 0;
}
#about{
    // background-image: url("./assets/rombos/rombo_filled.svg");
}
.dark{
    background-color: #2c2c2c;
}
.dark *{
    // color: #ffffffbb;
    color: white;
}
  
.full-h{
    height: 100vh;
}
.vertical-text{
    writing-mode: vertical-lr;
}
.app-title{
    font-size: 10vmax;
    margin-bottom: -15px;
}
.app-subtitle{
    font-size: 2vmax;
    margin-left: 15px;
    letter-spacing: 4px;
}
.svg-padding{
    padding: calc(10px - 1vh);
    animation: pulse 2s ease-in-out 0s infinite alternate;
}

.container-shadow{
    box-shadow: 0 5px 10px -7px black;
    background-color: lightgray;
}
.product-shadow {
    box-shadow: 0 50px 15px 10px grey;
    border-radius: 100%;
    height: 10px;
    width: 47% !important;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: -60px !important;
    z-index: 1;
}
.section-line{
    height: 4px;
    width: 70%;
    background-color: lightgray;
}

.footer{
    height: 100px;
    color: lightgray;
}

.custom-link{
    color: #961022;
    text-decoration: none;
}
.custom-link:hover{
    color: #96102284;
}

.cursor{
    cursor: pointer;
}

// ################### Scroll Reveal (Sr/Sra)
.sr{
    margin-top: 6rem !important;
    opacity: 0;
}
.sra {
    margin-top: 3rem !important;
    opacity: 1;
    transition: 1s ease-out;
}

// ################# Skeleton
.skeleton{
    width: 100%;
    animation: skeleton 10s infinite linear;
    background-image: linear-gradient(90deg, #e2e2e2 0px, #efefef 30px, #e2e2e2 60px);
    border-radius: 8px;
    min-height: 50px;
}

// ################### Scrollbars
/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 10px;
    // padding: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    height: 5px;
    width: 20px;
    background-image: linear-gradient(90deg, transparent 20%, #efefef 50%, transparent 80%);
    background-position: 0px 0px;
    opacity: 0; 
    transition: 0.5s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    // background-image: linear-gradient(90deg, transparent 20%, #efefef 50%, transparent 80%);
    // background-position:100% 0% 100%;
    opacity: 1;
  }

// ################### Key Frames
@keyframes pulse {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
@keyframes gradient {
    0%{background-position:0% 51%}
    50%{background-position:400% 100%}
    100%{background-position:0% 51%}
}
@keyframes skeleton {
    0% {
      background-position: calc(-160px);
    }
    100% {
      background-position: 3000px;
    }
  }

